scenarios.iml
/gradle
/build
.gradle
.idea
gradlew
gradle.bat
gradlew.bat
local.properties
*.DS_Store
*.swift
.gradle/
.idea
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
captures
.externalNativeBuild
scenarios/
core/
